.color-blue{
	background-color: blue;
}

.color-red{
	background-color: red;
}

.color-orange{
	background-color: orange;
}

.color-black{
	background-color: darkblue;
}

.color-carmin{
	background-color: #ffd37f;
}

.login-form{
	padding-top: 30%;
	padding-bottom: 30%;
	padding-left: 20%;
	padding-right: 20%;
}

.text-white{
	color: white;
}

.cards:hover{
	opacity: 2;
	text-underline-position: under; 
}

h4{
	color: white;
	padding: 5px;
	margin: 0px;
}

h4:hover{
	cursor: pointer;
}

.pres{
	background-color: #303030;
	color: white;
}

.lay-margin{
	margin-top: 20px;
}

.btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #FFF;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: rgba(58, 133, 191, 0.75);
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-dark:hover{
	background-color: green;
}

body{
	background-color: #E0F1F1;
}
/*.container{
	margin: 20px;
	margin-right: 20px;
}*/

.btnAdd{
	margin: 10px;
}

.form-rounded{
	border-radius: 1rem;
	margin: 8px;
}

.user-comments{
	color: #00CCCC;
}

#modal{
	background-color: #B07250;
	/*background-color: #A55C35;*/
	border-color: black;
}

#sidePlaces{
	color: black;
	justify-content: center;
	text-align: center;
}

#sidePlaces:hover{
	color: #B07250;
	font-size: 25px;
}

#comentsID{
	overflow-y: auto;
	max-height: 200px;
}
